<!DOCTYPE html>
<html>
<% include file="/public/head.html" %></head>
<body>
<div id="m_base"> 
<div class="m_zctitle"><i class='goBack'><?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="图形" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
  <path id='back' fill="#000000" d="M874.690416 316.47523c0-11.2973-9.168824-20.466124-20.466124-20.466124l-604.773963 0 188.083679-188.083679c7.992021-7.992021 7.992021-20.947078 0-28.939099-4.001127-3.990894-9.240455-5.996574-14.46955-5.996574-5.239328 0-10.478655 1.995447-14.479783 5.996574l-223.00912 223.00912c-3.837398 3.837398-5.996574 9.046027-5.996574 14.46955 0 5.433756 2.159176 10.632151 5.996574 14.46955l223.019353 223.029586c7.992021 7.992021 20.957311 7.992021 28.949332 0 7.992021-8.002254 7.992021-20.957311 0-28.949332l-188.073446-188.073446 604.753497 0C865.521592 336.941354 874.690416 327.782763 874.690416 316.47523z" transform="translate(0, 812) scale(1, -1)"/>
</svg></i>注册</div> 

<div class="pic_center"><a href="/index/home"><img src="/statics/images/about_03.png" alt=""></a></div>
<form action="" method="POST" id="login"  onsubmit="sub()">
    <div class="m_denglv">
        <label for="mobile">手机号</label>
        <input type="text" value="<% $n %>" name="mobile" id="mobile" />
    </div>
    <div class="m_denglv">
        <label for="pwd">密码</label>
        <input type="password" value="" name="pwd"/>
    </div>
    <div class="m_denglv">
        <label for="pwd">重复密码</label>
        <input type="password" value="" id='pwd'/>
    </div>
    <div class="m_denglv">
        <label for="pwd">推荐人</label>
        <input type="text" value="" name='recommended' id='recommended' class="autoUrl" autoUrl='p' />
    </div>
    <div class="m_denglv">
        <label for="pwd">手机验证码</label>
        <input type="text" value="" id='telcode' name='telcode' class="clrtext" />
         <input type="button"  value="获取验证码" id='vcode' />
    </div>
    <div id="msg" style="text-align:center"> <% $msg %> </div>
    <div class="m_denglvbut">
        <input type="submit" value="注册" class="submit"/>
    </div>
</form>
    <% include file="/public/tip.html" %>
</div>
 <% include file="/public/foot.html" %>
</body>
<script type="text/javascript">
    window.timelimer=160;
    window.t=123;
    var vcodeBut=document.getElementById('vcode');
    vcodeBut.onclick=vcode;
    function sub(){
       if(this.elements['pwd']!= document.getElementById('pwd')){
            document.getElementById('msg').innerHTML='密码不一致！';
       }else{
            this.submit();
       }
    }
    function vcode(){
       $mobile= document.getElementById('mobile');
       if($mobile==null||isNaN($mobile.value)||$mobile.value==null ){
            document.getElementById('msg').innerHTML='亲，我要手机号码，才可以发送!';
            return 0;
       }
      var xmlhttp;
        if (window.XMLHttpRequest){
           // code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
        }
        else{// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("POST","/index/vcode",true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var v=$mobile.value;
        xmlhttp.send("mobile="+v);
        
        xmlhttp.onreadystatechange=function(){
          if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                    //code ,  msg，+data
               eval(xmlhttp.responseText);
               if(code==0){
                  document.getElementById('msg').innerHTML=msg;
                                            window.t=window.setInterval(edd,1000); console.log( window.t);
                                            vcodeBut.onclick=null;
               }
              // alert( code+msg+data);
            }
      }
        
     function edd(){
         window.timelimer--;
         if(window.timelimer<=0){
            vcodeBut.onclick=vcode;
            window.clearInterval(window.t);
             vcodeBut.value='获取手机验证码';
         }else{
            vcodeBut.value=window.timelimer;
         }
    }       
}	

</script>
<script type="text/javascript" src="/statics/js/init.js"></script>
</html>
