<include file='index:head'/>
<!--header-->
<include file='index:banner'/>
<!--about-starts--> 
	<div class="about">
		<div class="container">
			<h2>About</h2>
			<div class="about-top heading">
				<h4>Cum sociis natoque penatibus et magnis dis parturient montes , nascetur ridiculus mus.</h4>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam et dignissim augue, et sagittis turpis. Vestibulum congue turpis ac tincidunt accumsan. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orc i ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. </p>
				<div class="about-bottom">
					<div class="col-md-4 about-left">
						<img src="__PUBLIC__/home/images/w1.jpg" alt="" />
						<h5>我们能做什么-wecan</h5>
						<p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Vestibulum congue turpis ac tincidunt accumsan.</p>
					</div>
					<div class="col-md-4 about-left">
						<img src="__PUBLIC__/home/images/w2.jpg" alt="" />
						<h5>我们的水平-standards</h5>
						<p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Vestibulum congue turpis ac tincidunt accumsan.</p>
					</div>
					<div class="col-md-4 about-left">
						<img src="__PUBLIC__/home/images/w3.jpg" alt="" />
						<h5>我们的能力-Capabilities</h5>
						<p>Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Vestibulum congue turpis ac tincidunt accumsan.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--advantages-starts--> 
	<div class="advantages">
		<div class="container">
			<div class="col-md-6 advantages-left heading">
				<h2>我们的优点-ADVANTAGES</h2>
				<div class="advn-one">
						<div class="ad-mian">
							<div class="ad-left">
								<p>1</p>
							</div>
							<div class="ad-right">
								<h4><a href="__PUBLIC__/home/single.html">Elacus a porta varius dui</a></h4>
								<p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="ad-mian">
							<div class="ad-left">
								<p>2</p>
							</div>
							<div class="ad-right">
								<h4><a href="__PUBLIC__/home/single.html">Elacus a porta varius dui</a></h4>
								<p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="ad-mian">
							<div class="ad-left">
								<p>3</p>
							</div>
							<div class="ad-right">
								<h4><a href="__PUBLIC__/home/single.html">Elacus a porta varius dui</a></h4>
								<p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. </p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
			</div>
			<div class="col-md-6 advantages-left heading">
				<h3>我们的技能 SKILLS</h3>
			<div class="advn-two">
						<h4>Erci eu tincidunt lacinia, elit quam ultri ces ipsum, quis ultricies ipsum ante</h4>
						<p>Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula. Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.</p>
						<ul>
							<li><a href="__PUBLIC__/home/#">Praesent vestibulum molestie lacus</a></li>
							<li><a href="__PUBLIC__/home/#">Donec sagittis interdum tellus</a></li>
							<li><a href="__PUBLIC__/home/#">Nulla consectetur adipiscing</a></li>
							<li><a href="__PUBLIC__/home/#">Donec ac rhoncus libero.</a></li>
							<li><a href="__PUBLIC__/home/#">Erci eu tincidunt lacinia</a></li>
						</ul>
			</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--advantages-end--> 
	<!--team-starts--> 
	<div class="team">
		<div class="container">
			<div class="team-top heading">
				<h3>团队-TEAM</h3>
			</div>
			<div class="team-bottom">
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>任胜贤</h3>
										<p>by Josh Schott</p>
									</div>	
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-2"></div>
									<div class="ch-info-back">
										<h3>王亚光</h3>
										<p>by Jeremy Slagle</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-3"></div>
									<div class="ch-info-back">
										<h3>孙悟空</h3>
										<p>by Dustin Leer</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--team-end--> 
<!--about-end-->    		    
<!-- footer -->
<include file="index:foot"/>