<include file='index:head'/>
<include file='index:banner'/>
<!--gallery-->
<div class="gallery">
	<div class="container"> 
		<h2>Gallery</h2>
		<div class="products-bottom">
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>			
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi1.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>
			<div class="col-md-4 work-grid">	
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi2.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>	
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi3.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi4.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi4.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi5.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi6.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi6.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi7.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi7.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/pi8.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="__PUBLIC__/home/images/pi8.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>				
			<div class="clearfix"> </div>	
		</div>
		<!--script-->
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
			<script type="text/javascript" src="__PUBLIC__/home/js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

<!--/script-->
	</div>
</div>
<!--/gallery-->	        		    
<!-- footer -->
<include file='index:foot'/>