<!DOCTYPE html>
<html>
<head>
<title>蜗牛创意灯光-首页</title>
<!--css-->
<link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--/css-->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seed Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->      
<!-- js -->
<script src="__PUBLIC__/home/js/jquery.min.js"> </script>
<script src="__PUBLIC__/home/js/bootstrap.js"></script>
<script src="__PUBLIC__/home/js/modernizr.custom.js"></script>
<!-- /js -->
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
<!--/fonts-->
<!--script-->
<script type="text/javascript" src="__PUBLIC__/home/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/easing.js"></script>
<script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){     
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                });
            });
</script>
<!--/script-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style4.css" />
<script type="text/javascript" src="__PUBLIC__/home/js/modernizr.custom.79639.js"></script>
</head>
<body>
    <div class="header-top">
    <div class="container">
        <div class="logo">这是logo的地方</div>
        <div class="search">
            <form>
                <input type="text" value="Search...." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search....';}">
                <input type="submit" value="">
            </form>
        </div>
        <div class="social">
                    <ul>
                        <li><a href="#"><i class="facebook"></i></a></li>
                        <li><a href="#"><i class="twitter"></i></a></li>
                        <li><a href="#"><i class="dribble"></i></a></li>    
                        <li><a href="#"><i class="google"></i></a></li>                                     
                     </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>