<include file='index:head'/>
<!--header-->
	<div class="header">
		<div class="container">
				<div class="navigation">
					<nav class="navbar navbar-default">
						  <div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
							  </button>
					   		</div>
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							   <ul class="nav navbar-nav">
									<li class="active"><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
									<li><a href="__URL__/about">关于我们</a></li>
									<li><a href="__URL__/services">服务</a></li>
									<li><a href="__URL__/blog">博客</a></li>
									<li><a href="__URL__/gallery">村庄</a></li>
									<li><a href="__URL__/contact">联系我们</a></li>
							    </ul>
							    					<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
						<!-- /script-for-menu -->

					  			<div class="clearfix"> </div>
							</div><!-- /.navbar-collapse -->
					  </nav>
	            </div>
	       </div>
	</div>
<div class="banner">
		            		    <div class="logo">
				<a href="index.html"><img src="__PUBLIC__/home/images/logo.png" /></a>
			</div>
			<script src="__PUBLIC__/home/js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="slider">
	 <div class="container">
		   <div class="callbacks_container">
			  <ul class="rslides" id="slider">
				 <li>	          
					 <h3>相信您的信任与我的实力将为我们带来共同的成功! 或希望我能为贵公司贡献自己的力量!</h3>		          
				 </li>
				 <li>	          
					 <h3>相信您的信任与我的实力将为我们带来共同的成功! 或希望我能为贵公司贡献自己的力量!.</h3>		          
				 </li>
				 <li>	          
					 <h3>相信您的信任与我的实力将为我们带来共同的成功! 或希望我能为贵公司贡献自己的力量!</h3>		          
				 </li>
			  </ul>
		  </div>
	  </div>
</div>

</div>
<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle("slow" , function(){
					});
				});
		 </script>
<!-- script-for-menu -->
<div class="index-about">
	<div class="container">
			    <h3>欢迎来到蜗牛光影魔法</h3>
				<p>灯光师是利用各种专业灯具，根据不同图像的艺术风格的需要，创作出各种“光影效果”
					极致追逐光与场景的融合,是一场婚礼的魔法师.</p>
			 </div>
		</div>
<div class="index-welcome">
	<div class="container">
<ul class="grid cs-style-3">
<!-- 	<volist name='res' id='vo'>
			<li>
					<figure>
						<img src="{$vo.imgsrc}" alt="img03">
						<figcaption>
							<h3>{$vo.title}</h3>
							<span>{$vo.info}</span>
						</figcaption>
					</figure>
				</li>	
	</volist> -->
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w1.jpg" alt="img03">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w22.jpg" alt="img01">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w3.jpg" alt="img02">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w4.jpg" alt="img04">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w5.jpg" alt="img05">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w6.jpg" alt="img06">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w7.jpg" alt="img06">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="__PUBLIC__/home/images/w8.jpg" alt="img06">
						<figcaption>
							<h3>Seeds</h3>
							<span>Jacob Cummings</span>
						</figcaption>
					</figure>
				</li>
				<div class="clearfix"> </div>
			</ul>
	</div>
</div>
<!-- specialty -->
	<div class="specialty">
		<!-- container -->
		<div class="container">
			<div class="col-md-5 specialty-info">
				<h3>我们的服务</h3>
				<h5>Cras porttitor imperdiet volutpat nulla malesuada lectus eros ut convallis felis consectetur ut </h5>
				<p>Integer vitae ligula sed lectus consectetur pellentesque blandit nec orci. Nulla ultricies nunc et lorem semper, quis accumsan dui aliquam aucibus sagittis placerat.
					<span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi non nibh nec enim sollicitudin interdum.tristique senectus et netus et malesuada fames ac turpis egestas</span>
				</p>
				<div class="see-button">
					<a class="btn btn-primary btn-lg see-button hvr-shutter-out-horizontal specialty-button" href="#" role="button">更多</a>
				</div>
			</div>
			<div class="col-md-7 specialty-grids">
				<div class="specialty-grids-top">
					<div class="col-md-6 service-box">
						<figure class="icon">
							<img src="__PUBLIC__/home/images/1.png" alt="" />
						</figure>
						<h5>耕耘才能收获</h5>
						<p>较强的协调、沟通能力和良好的团队精神，</p>
					</div>
					<div class="col-md-6 service-box">
						<figure class="icon">
							<img src="__PUBLIC__/home/images/2.png" alt="" />
						</figure>
						<h5>认可才能认真</h5>
						<p>从事2年的舞台灯光经验，我有丰富舞台灯光操作经验以及设计经验</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="specialty-grids-top">
					<div class="col-md-6 service-box">
						<figure class="icon">
							<img src="__PUBLIC__/home/images/3.png" alt="" />
						</figure>
						<h5>细节体现不同</h5>
						<p>沟通能力和良好的团队精神，</p>
					</div>
					<div class="col-md-6 service-box">
						<figure class="icon">
							<img src="__PUBLIC__/home/images/4.png" alt="" />
						</figure>
						<h5>专业才更信赖</h5>
						<p>从事多年的舞台灯光经验，拥有丰富舞台灯光操作经验以及设计经验，较强的协调、沟通能力和良好的团队精神。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //container -->
	</div>
	<!-- //specialty -->
	<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<div class="testimonial-nfo">
				<h3>我们的目标</h3>
				<h5>做到全郑州第一家,光与影结合最完美 <span>让光与影谱写最完美的爱 </span></h5>
			</div>
			<div class="testimonial-grids">
				<div class="testimonial-grid">
					<p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum iaculis diam quis sodales. Vestibulum eu dui tellus. In viverra porttitor auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas<span> "</span></p>
				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->
	<!-- news -->
	<div class="news">
		<div class="container">
			<div class="news-text">
				<h3>新闻News</h3>
				<h5>Cras porttitor imperdiet volutpat nulla malesuada lectus eros <span>ut convallis felis consectetur ut </span></h5>
			</div>
			<div class="news-grids">
				<div class="col-md-3 news-grid class="mask"">
					<a href="single.html"><h4>恁家类麦子改收了</h4></a>
					<span>8.00 - 10.00 | JUN 09,2014</span>
					<a href="single.html" class="mask"><img src="__PUBLIC__/home/images/img1.jpg" alt="image" class="img-responsive zoom-img"></a>
					<div class="news-info">
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
					</div>
				</div>
				<div class="col-md-3 news-grid class="mask"">
					<a href="single.html"><h4>大型收割机50块钱一亩</h4></a>
					<span>10.00 - 12.00 | sep 24,2014</span>
					<a href="single.html" class="mask"><img src="__PUBLIC__/home/images/img2.jpg" alt="image" class="img-responsive zoom-img"></a>
					<div class="news-info">
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
					</div>
				</div>
				<div class="col-md-3 news-grid class="mask"">
					<a href="single.html"><h4>大型设备犁地50块一亩</h4></a>
					<span>9.00 - 10.00 | FEB 15,2014</span>
					<a href="single.html" class="mask"><img src="__PUBLIC__/home/images/img3.jpg" alt="image" class="img-responsive zoom-img"></a>
					<div class="news-info">
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
					</div>
				</div>
				<div class="col-md-3 news-grid class="mask"">
					<a href="single.html"><h4>大棚蔬菜新鲜红罗卜</h4></a>
					<span>11.00 - 10.00 | JUN 10,2014</span>
					<a href="single.html" class="mask"><img src="__PUBLIC__/home/images/img4.jpg" alt="image" class="img-responsive zoom-img"></a>
					<div class="news-info">
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news -->
<!-- footer -->
<include file='index:foot'/>